.registration {
  text-align: center;
  overflow-x: hidden;


  .site-page-header {
    border: 1px solid rgb(235, 237, 240);
    position: fixed;
    background-color: white;
    z-index: 999;
    width: 100%;
  }
  .step-form {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 85px 0 20px 0;
    margin: 0% 10%;
    form {
      height: 100%;
      width: 100%;
    }
    .ant-select-selection-item {
      text-align: left;
    }
    .ant-select-selection-placeholder {
      text-align: left;
    }
  }
}
